html {
  font-size: 14px;
}
.App {

}

.container {
  border: 1px solid;
}

.list {
  border: 1px solid;
}


.list td {
  text-align: center;
}

.list .seq {
  width: 50px;
  /* text-align: center; */
}
.list .id {
  width: 100px;
  /* text-align: center; */
}
.list .name {
  width: 150px;
  text-align: left;
}
.list .state {
  width: 50px;
  /* text-align: left; */
}

/* .list .center {
  text-align: center;
} */
