html {
  font-size: 14px;
}

.App {
  margin: 10px;
}

.container {
  margin-bottom: 10px;
}

.list {
  border: 1px solid;
}

.list td {
  text-align: center;
}

.list .seq {
  width: 50px;
}

.list .id {
  width: 100px;
}
.list .id .inputbox {
  width: 90px;
  text-align: center;
}

.list .name {
  width: 200px;
}
.list .name .inputbox {
  width: 190px;
  text-align: center;
}

.list .state {
  width: 100px;
}
.list .state .inputbox {
  width: 90px;
  text-align: center;
}

.list .button {
  width: 80px;
}